!----------------------------------------------------------------------------------------------
! This work is licensed under the Creative Commons 
! Attribution-NonCommercial-ShareAlike License. 
! To view a copy of this license, visit 
! http://creativecommons.org/licenses/by-nc-sa/1.0/
!----------------------------------------------------------------------------------------------
! Style Name: 								Final_cut (inspired Winamp style "Slender" by Ruuub)
! Style version								2.0
! Style Author: 							endel (endel@tlen.pl)
! Style Date: 								14.08.2008
!----------------------------------------------------------------------------------------------


#*font:							-*-terminus-medium-r-*-*-11-*-*-*-*-*-utf-8
*font: Sans-8
#window.font:        					-*-terminus-medium-r-*-*-16-*-*-*-*-*-utf-8
# menu.frame.font:      -*-terminus-medium-r-*-*-16-*-*-*-*-*-utf-8
# menu.title.font:      -*-terminus-medium-r-*-*-16-*-*-*-*-*-utf-8
# toolbar.clock.font:      -*-terminus-medium-r-*-*-16-*-*-*-*-*-utf-8
# toolbar.iconbar.focused.font:   -*-terminus-bold-r-*-*-16-*-*-*-*-*-utf-8
# toolbar.iconbar.unfocused.font:   -*-terminus-medium-r-*-*-16-*-*-*-*-*-utf-8
# toolbar.workspace.font:      -*-terminus-medium-r-*-*-12-*-*-*-*-*-utf-8

#*.font.effect:  					shadow
#*.font.shadow.color: 					#535353
#*.font.shadow.x: 					1
#*.font.shadow.y: 					1 							1

!----------------------------------------------------------------------------------------------
 
toolbar.bevelWidth:						1
 
toolbar.borderWidth:						0
#toolbar.borderColor:						#779dae
toolbar.borderColor:						#111111

toolbar.height:							16
toolbar.justify:						center
 
toolbar:								
toolbar.pixmap:							
toolbar.color:							#000000
toolbar.colorTo:						

toolbar.shaped:                         			false
toolbar.clock:						
toolbar.clock.pixmap:						
toolbar.clock.justify:						center
toolbar.clock.color:						#000000
toolbar.clock.colorTo:					
toolbar.clock.textColor:					#dfdfdf
 
toolbar.workspace:					
toolbar.workspace.pixmap:				
toolbar.workspace.justify:					center
toolbar.workspace.color:					#000000
toolbar.workspace.colorTo:			
toolbar.workspace.textColor:					#dadada
 
toolbar.button:						 
toolbar.button.pixmap:					
toolbar.button.color:						#000000
toolbar.button.colorTo:				
toolbar.button.picColor:					#ffffff
toolbar.button.pressed:				
toolbar.button.pressed.pixmap:				
toolbar.button.pressed.color:					#000000
toolbar.button.pressed.colorTo:			
toolbar.button.pressed.picColor:                     			
 
toolbar.iconbar.empty:				
toolbar.iconbar.empty.pixmap:				
toolbar.iconbar.empty.color:					#000000
toolbar.iconbar.empty.colorTo:	
toolbar.iconbar.borderWidth:             			0
 
toolbar.iconbar.focused.borderWidth:				0
toolbar.iconbar.focused.borderColor:				
toolbar.iconbar.focused:				
toolbar.iconbar.focused.pixmap:			
toolbar.iconbar.focused.color:					#307090
toolbar.iconbar.focused.colorTo:				
toolbar.iconbar.focused.textColor:				#ffffff
toolbar.iconbar.focused.justify:				center
 
toolbar.iconbar.unfocused.borderWidth:	
toolbar.iconbar.unfocused.borderColor:	
toolbar.iconbar.unfocused:				
toolbar.iconbar.unfocused.pixmap:			
toolbar.iconbar.unfocused.color:				#000000
toolbar.iconbar.unfocused.colorTo:		
toolbar.iconbar.unfocused.textColor:				#ffffff
toolbar.iconbar.unfocused.justify:				center

!----------------------------------------------------------------------------------------------

menu.bevelWidth:						0
menu.itemHeight:						14
menu.titleHeight:						14

menu.roundCorners:						0
menu.borderColor:						#333333
menu.borderWidth:						0

menu.bullet.position:						right
menu.bullet:							triangle

menu.submenu.pixmap:						
menu.hilite.submenu.pixmap:					

menu.selected.pixmap:						select.xpm
menu.hilite.selected.pixmap:			       		hilite_select.xpm

menu.unselected.pixmap:						unselect.xpm	
menu.hilite.unselected.pixmap:					hilite_unselect.xpm

menu.title:								
menu.title.pixmap:						
menu.title.justify:						center
menu.title.color:						#112233
menu.title.colorTo:						
menu.title.textColor:						#ffffff

menu.frame:								
menu.frame.pixmap:						
menu.frame.justify:						left
menu.frame.color:						#000000
menu.frame.colorTo:						
menu.frame.textColor:						#d0d0d0
menu.frame.disableColor:					#999999	
 
menu.hilite:								
menu.hilite.pixmap:                     			
#menu.hilite.color:						#ff7a22
menu.hilite.color:						#223344
menu.hilite.colorTo:						
menu.hilite.textColor:						#ffffff

!----------------------------------------------------------------------------------------------
 
window.bevelWidth:						0
window.shade:							0
window.borderWidth:						1
window.borderColor:						#111111
window.roundCorners:						0
window.justify:							center

window.title.height:						16

window.title.focus:						
window.title.focus.pixmap:					
window.title.focus.color:					
window.title.focus.colorTo:				
window.title.focus.textColor:					
window.title.unfocus:					
window.title.unfocus.pixmap:			
window.title.unfocus.color:				
window.title.unfocus.colorTo:			

window.label.focus:						
window.label.focus.pixmap:				
window.label.focus.color:					#223344
window.label.focus.colorTo:					
window.label.focus.textColor:					#ffffff
window.label.unfocus:					
window.label.unfocus.pixmap:				
window.label.unfocus.color:					#000000
window.label.unfocus.colorTo:			
window.label.unfocus.textColor:					#ffffff

window.button.focus:						
window.button.focus.color:      				
window.button.focus.colorTo:      		
window.button.focus.picColor:			
window.button.unfocus:					
window.button.unfocus.Color:			
window.button.unfocus.ColorTo:			
window.button.unfocus.picColor:			
window.button.pressed:					
window.button.pressed.color:				
window.button.pressed.colorTo:			
window.button.pressed.picColor:			

window.shade.pixmap:					
window.shade.unfocus.pixmap:			
window.shade.pressed.pixmap:			

window.unshade.pixmap:					
window.unshade.unfocus.pixmap:			
window.unshade.pressed.pixmap:			

window.menuicon.pixmap:					
window.menuicon.unfocus.pixmap:			
window.menuicon.pressed.pixmap:			

window.close.pixmap:						universal_close.xpm
window.close.unfocus.pixmap:					universal_close.xpm
window.close.pressed.pixmap:					universal_close.xpm

window.iconify.pixmap:						universal_close.xpm
window.iconify.unfocus.pixmap:					universal_close.xpm
window.iconify.pressed.pixmap:					universal_close.xpm

window.maximize.pixmap:						universal_close.xpm
window.maximize.unfocus.pixmap:					universal_close.xpm
window.maximize.pressed.pixmap:					universal_close.xpm

window.stick.pixmap:						universal_close.xpm
window.stick.unfocus.pixmap:					universal_close.xpm
window.stick.pressed.pixmap:					universal_close.xpm

window.stuck.pixmap:						universal_close.xpm
window.stuck.unfocus.pixmap:					universal_close.xpm
window.stuck.pressed.pixmap:					universal_close.xpm

window.handle.focus:					
window.handle.focus.pixmap:				
window.handle.focus.color:					#000000
window.handle.focus.colorTo:			
window.handle.unfocus:					
window.handle.unfocus.pixmap:			
window.handle.unfocus.color:					#ffffff
window.handle.unfocus.colorTo:			
window.handleWidth:						1

window.grip.focus:						
window.grip.focus.pixmap:					
window.grip.focus.color:					#000000
window.grip.focus.colorTo:				
window.grip.unfocus:						
window.grip.unfocus.pixmap:				
window.grip.unfocus.color:					#000000
window.grip.unfocus.colorTo:				

!----------------------------------------------------------------------------------------------

slit: flat gradient vertical
slit.pixmap:  
slit.color:  #000000
slit.colorTo: #000000	
slit.borderWidth: 1
slit.bevelWidth: 1
slit.borderColor: #ff7a22

!----------------------------------------------------------------------------------------------
